/basic-miktex-23.10-x64.exe
/Pagano.docx
/Pagano.html
/Pagano.ipynb
/Pagano_files
/PyStats.docx
/PyStats.pdf
/PyStats_files
/statistical_notation.pdf
/Untitled-1.docx
/Untitled-1.ipynb
/Untitled-1.qmd
/Untitled-1.rmd